<html>
<head>
    <title>Video Streaming Demonstration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="{{url_for('static', filename='index.js')}}"></script>-->
    {% block javascript %}
        <script type="text/javascript">
            {% include "index.js" %}
        </script>
    {% endblock %}
</head>
<body>
<h1>Jugging CV</h1>
<p>Select camera input
    <select id="inputSelection">
        <option value="0" {{ selected_input[0] }}>Mock Camera</option>
        <option value="1" {{ selected_input[1] }}>Picam</option>
        <option value="2" {{ selected_input[2] }}>Processed Picam</option>
    </select>
</p>
<img id="video_feed" src="{{ url_for('video_feed') }}">
<div>
    <span>Brightness: <span id="brightnessLabel">50</span></span>
</div>
<input type="range" min="0" max="100" value="50" class="slider" id="brightness" oninput="console.log('hallo'+this.value); updateBrightnessLabel(this.value);">
<p>Vertical Flip</p>
<input type="checkbox" id="vflip" name="vflip" value="vflip">
</body>
</html>
