<html>
<head>
    <title>Video Streaming Demonstration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="{{url_for('static', filename='index.js')}}"></script>-->
    {% block javascript %}
        <script type="text/javascript">
            {% include "index.js" %}
        </script>
    {% endblock %}
</head>
<body>
<h1>Video Streaming</h1>
<img id="video_feed" src="{{ url_for('video_feed') }}">
<form id="calibrate_form">
    <p>Brightness<input type="range" min="0" max="100" value="50" class="slider" id="brightness"></p>
    <select id="inputSelection">
        <option value="0" {{ selected_input[0] }}>Mock Camera</option>
        <option value="1" {{ selected_input[1] }}>Picam</option>
        <option value="2" {{ selected_input[2] }}>Processed Picam</option>
    </select>
</form>
</body>
</html>
